year :{{ year }}
graduate : {{ graduate }}
<h1>University : {{ university }}</h1>
<h1>City : {{ city }}</h1>
<h2>District{{ district }}</h2>
<h3>Street: {{ duong}} </h3>

<img scr = "{{ image }} "alt="">